.content {
    margin:40px 10vw 0 10vw;
    background-color: rgb(255, 255, 255);
    text-align: left;
    box-shadow: 1px 1px 5px  gray;
    border-radius: 4px;
}

table, thead, tr, th, td {
    border: 1px solid black;
    padding: 10px;
}
.head {
    text-align: center;
}
.head-title {
    font-size: 24px;
}

.m-select {
    margin-right: 10px;
}


.m-l-3 {
    margin-left: 10px;
}
.m-b-3 {
    margin-bottom: 10px;
}
.m-b-4 {
    margin-bottom: 15px;
}
.m-b-5 {
    margin-bottom: 40px;
}
.t-c {
    text-align: center;
}
.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

.p-3 {
    padding: 10px;
}

.p-t {
    padding-top: 10px;
}

.p-l {
    padding-top: 10px;
}

.p-r {
    padding-right: 10px;
}

.p-b {
    padding-bottom: 10px;
}

.o-f {
    overflow: scroll;
}