.head {
    z-index: 1;
    left: 0;
    top: 0;
    background-color: gray;
    width: 0;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 10px;
}

.head a {
    color: blue;
    display: block;
    right: 25px;
    overflow: hidden;
    transition: .3s;
    font-size: 30px;
}

.btn-fixed {
    position: fixed;
    top: 0;
    left: 0;
}